<!-- -*- xml -*- -->
<launch>

  <include file="$(find papras_controls)/launch/servo.launch"/>

  <!-- Square size in [m] corresponding to the distance between blobs center -->
  <param name="square_size" type="double" value="0.055"/>
  
  <!-- Camera parameters -->
  <!-- http://docs.ros.org/en/api/sensor_msgs/html/msg/CameraInfo.html -->
  <!-- https://visp-doc.inria.fr/doxygen/visp-daily/classvpCameraParameters.html#ac60e9bb2121b719da4a73688051fac8a -->
  <param name="cam_px"  type="double" value="616.7357368608433"/>   <!-- Intrinsic camera parameter px -->
  <param name="cam_py"  type="double" value="616.1785457421678"/>   <!-- Intrinsic camera parameter py -->
  <param name="cam_u0"  type="double" value="330.429331794736"/>   <!-- Intrinsic camera parameter u0 -->
  <param name="cam_v0"  type="double" value="246.58464888579408"/>   <!-- Intrinsic camera parameter v0 -->
  <param name="cam_kud" type="double" value="0.140795114859644"/> <!-- Intrinsic camera parameter kud -->
  <param name="cam_kdu" type="double" value="-0.08335102746986546"/>  <!-- Intrinsic camera parameter kdu -->

  <!-- Desired pose -->
  <param name="tx_d"  type="double" value="0"/>   <!-- Translation along X axis in [m] -->
  <param name="ty_d"  type="double" value="0"/>   <!-- Translation along Y axis in [m] -->
  <param name="tz_d"  type="double" value="0.60"/> <!-- Translation along Z axis in [m] -->
  <param name="tux_d" type="double" value="0"/>   <!-- Rotation along X axis in [deg] (axis-angle representation) -->
  <param name="tuy_d" type="double" value="0"/>   <!-- Rotation along Y axis in [deg] (axis-angle representation) -->
  <param name="tuz_d" type="double" value="0"/>   <!-- Rotation along Z axis in [deg] (axis-angle representation) -->

  <!-- Firewire image acquisition -->
  <!-- <include file="$(find usb_cam)/launch/usb_cam-test.launch"/> -->

  <!-- Blob_tracker -->
  <node pkg="visp_ros" type="visp_ros_blob_tracker_node" name="blob_tracker" output="screen">
  </node>

  <!-- pbvs -->
  <node pkg="visp_ros" type="visp_ros_pbvs_blob_node" name="pbvs_blob" output="screen">
  </node>
</launch>


<!-- rosservice call /servo_server/change_control_dimensions "{control_x_translation: false, control_y_translation: false, control_z_translation: true,
  control_x_rotation: false, control_y_rotation: false, control_z_rotation: false}"  -->